<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CHOOSEYOUR.NEWS</title>
    <link rel="stylesheet" th:href="@{css/normalize.css}"/>
    <link crossorigin='anonymous' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css'
          integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' rel='stylesheet'/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header__body">
            <a class="header__logo" href="/home">
                <i class="far fa-newspaper fa-3x"></i>
                <p>chooseyour.news</p>
            </a>
            <div class="search">
                <form>
                    <input type="text" placeholder="Искать здесь...">
                    <button type="submit"><i class="fas fa-search fa-2x"></i></button>
                </form>
            </div>
            <div class="button_login">
                <a href="/authorization"><i class="fas fa-sign-in-alt fa-3x"></i></a>
            </div>
        </div>
    </div>
</header>
<div class="main">
    <div class="container">
        <div class="blogging">
            <h1>Новый блог</h1>
            <form th:action="@{/bloging/{login}(login=${request.login}, password=${request.password})}"
                  th:object="${form}" method="post"
                  class="input-form">
                <div class="input-form">
                    <input type="text" placeholder="Заголовок" name="title" th:field="*{title}"/>
                </div>
                <div class="input-form-content">
                    <textarea type="text" placeholder="Содержимое" name="content" th:field="*{content}"/>
                </div>
                <div class="input-form">
                    <input type="submit" value="Отправить"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>